.top-bar {
  font-family: Cousine Nerd Font;
  font-size: 11px;
  font-weight: 500;

  .container {
    background-color: rgba($background, $transparency);
    transition: 0.2s;

    .menu {
      background-color: transparent;
      padding: 2px 12px;
      border: none;
      transition: 0.2s;

      &.fit {
        padding: 0;
        margin: 0;
      }
    }

    &.gapped {
      background-color: transparent;

      .menu {
        background-color: rgba($background, $transparency);
        border-radius: $radius;

        &.fit {
          margin: 4px 0;
        }
      }

      .player {
        margin-left: 6px;
      }
    }
  }
}
