:root {
  --shy-color: {{ color12 }};
  --shy-color-dark: {{ color4 }};
  --urlbar: rgba({{ color12 | rgb }}, __PAPER_TRANSPARENCY__);
  --custom-background: rgba({{ background | rgb }}, __PAPER_TRANSPARENCY__);
  --custom-foreground: {{ foreground }};
}
